@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
    color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#root-window{
    height: 100%;
}

#render-target{
    position: fixed;
    width: 100%;
    height: 100%;
}

#ui{
    position: absolute;
    top: 0;
    z-index: 499;
    display: block;

    .menu, .submenu{
        /* Melhorar essa parte detectar menu e submenu automatico */
        display: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        padding: 40px;
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.1) !important;
        user-select: none;
        &.active{
            display: flex;
            flex-direction: column;
        }
    }
    
    .admin-panel{
        width: 100%;
        height: 300px;
        background: red;
        border-bottom-right-radius: 25px;
        display: none;
    }
    .screen{
        padding: 24px;
        width: 100vw;
        height: 100vh;
    }
}
nav{
    position: absolute;
    z-index: 1000;
    right: 0;
    height: 500px;
    top: calc(50% - 250px);
    padding: 24px;
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 4px;
        height: 100%;
    }
    li{
        transition: 200ms;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px;
        cursor: pointer;
        &:hover{
            transform: scale(1.5);
        }
        &.active{
            transform: scale(1.5);
        }
    }
}

